// Colors
// $white: #ffffff;
$grey: #949494;
$black: #0a0a0a;

// Font Weights
$fwHair: 100;
$fwThin: 200;
$fwLight: 300;
$fwReg: 400;
$fwMed: 500;
$fwSemiBold: 600;
$fwBold: 700;
$fwHeavy: 800;
$fwBlack: 900;

// -- CONSTANTS --
// Heights
$htAdmin: 32px;
$htAdminMobile: 46px;

// Breakpoints
// $bpSmall: 640px;
// $bpMedium: 1029px;
// $bpAdmin: 782px;
// Sizes
// $szNormal: $basePad;
