@import '../../styles/scss/import';

.layout-section {
  background-color: #797979;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // font-size: rem-calc(10);
  color: white;
}
